Body {
    Background-Image : Url("Chalk-Board.png");
}

.White-Text {
    Font-Family : 'Permanent Marker', Cursive;
    Color : White;
}

.Blue-Text {
    Font-Family : 'Permanent Marker', Cursive;
    Color : Cyan;
}

.Yellow-Text {
    Font-Family : 'Permanent Marker', Cursive;
    Color : yellow;
}

.Orange-Text {
    Font-Family : 'Permanent Marker', Cursive;
    Color : Orange;
}

.Green-Text {
    Font-Family : 'Permanent Marker', Cursive;
    Color : rgb(0, 255, 0);
}

::placeholder{
    Font-Family : 'Permanent Marker', Cursive;
    Color : pink;
}

#Number-1 ,#Number-2 ,#User-Answer{
    Background-Color : Transparent;
    width : 250px;
    border-color: transparent;
    Font-Family : 'Permanent Marker', Cursive;
    Color : pink;
    text-align: center;
}

#que-input {
    text-align : center;
    margin-left: 1000px;
}

#Set {
    background-color: transparent;
    border: transparent;
}

.set {
    background-color: transparent;
    border: transparent;
}
#Type-Player-1 , #Type-Player-2 {
    display: inline-block;
}

#Player1 , #Player2 {
    font-size: 25px;
}